@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
/* font-family: 'Ubuntu', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
/* font-family: 'Open Sans', sans-serif; */



/*-----------------------------------------------------------------------------------
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

body {
    background: #FFFFFF;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    font-weight: 300;
}

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

a:focus,
body:focus,
div:focus,
button:focus,
input:focus {
    outline: 0 !important;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

/* icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    width: 16px;
    text-align: center;
}

/* Headers/Titles */
h1, h2, h3, h4, h5, h6, #footer .heading {
    font-family: 'Segoe UI', 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

#page-sidebar h4, #sidebar h4 {
    font-weight: 600;
}

/* Link Colors */
a {
    color: #293674;
    text-decoration: none;
}

a:hover {
    color: #F7941D;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/

/* Top Menu */
/*-----------------------------------------------------------------------------------*/
.header-top {
    margin-bottom: 30px;
}

.header-nav {
}

.header-nav > div {
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
    border: 1px solid #E5E5E5;
    height: 39px;
}

.header-info {
    margin-bottom: 15px;
    background-color: #eee;
}

#top-menu {
    background-color: #383838;
    color: #999999;
    margin-bottom: 30px;
    padding: 3px 0;
}

#top-menu a {
    color: #999999;
}

#top-menu a:hover {
    color: #ffffff;
}

#top-menu .last {
    padding-right: 0;
}

#header {
}

#header > .container {
    margin-bottom: 0;
}

/* Logo */
/*-----------------------------------------------------------------------------------*/
.logo {
}

.logo .site-title,
.logo .site-title a {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 0 0;
    color: #FFFFFF;
}

.logo .sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 11px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 2px;
    letter-spacing: 0;
    color: #F9F9F9;
}

.logo .logo-img {
    display: block;
    margin-top: 6px;
    float: left;
}

@media (max-width: 767px) {
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }
}

.tagline {
    color: #7E7E7E;
    display: inline-block;
    font-size: 12px;
    margin: 13px 0 0 15px;
}

/* Main Menu */
/*-----------------------------------------------------------------------------------*/
#menu {
    display: inline-block;
}
#menu a {display: block; color: #535049;}
#menu ul {margin: 0;}
#menu > ul {display: block;}
#menu > ul > li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #E5E5E5;
    float: left;
    list-style: none outside none;
    position: relative;
}
#menu > ul a { padding: 10px 20px;}
@media (max-width: 979px) {
    /*#menu > ul a {padding: 25px;}*/
}
li.current {
    background-color: #e84807;
    border-color:#e84807 !important;
}
#menu > ul li:hover,
#menu > ul a:hover {
    background-color: #383838;
    border-color: #383838 !important; }
#menu > ul a .name {}
#menu > ul a .desc {}
#menu > ul a:hover .name,
#menu .current .name {color: #ffffff;}
#menu >ul li:hover a{color:#FFF;}
#menu ul ul {width: 160px; position: absolute; background-color: #282828;}
#menu ul ul a {
    font-size: 12px;
    padding: 10px;
    color: #fefefe;
}
#menu ul ul li {
    border-bottom: 1px solid #1C1C1C;
    border-top: 1px solid #393939;
    list-style: none outside none;
    position: relative;
}#menu li:hover {visibility: inherit;}
#menu li:hover ul,
#menu li.sfHover ul {left: -1px; top: 40px; z-index: 99;}
#menu li li:hover ul,
#menu li li.sfHover ul {left: 160px; top: 0;}

.res-menu {width: 100%; display: none;}
@media (max-width: 767px) {
    #menu {float: none;}
    #menu ul {display: none;}
    .res-menu {display: block;}
    .logo {text-align: center;}
}

/* Footer Menu */
/*-----------------------------------------------------------------------------------*/
#footer-menu {
    background-color: #383838;
    color: #C3C0B9;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 15px;
}
#footer-menu ul {list-style-type: none;}
#footer-menu li {float: left; margin-left: 10px;}
#footer-menu a {color: #C3C0B9;}
#footer-menu a:hover {color: #E84807;}
#footer-menu .copyright {}
