@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
/* font-family: 'Ubuntu', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
/* font-family: 'Open Sans', sans-serif; */

/*-----------------------------------------------------------------------------------
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

body{background-color:#f6f6f6}

.red{color:red}
.yellow{color:yellow}
.green{color:green}
.blue{color:blue}
.gray{color:gray}
.black{color:black}
.white{color:white}

.bgred{background-color:red !important}
.bggreen{background-color:green !important}

.nowrap {white-space: nowrap;}

.required:after{position: static}

.captcha_img_load{width:150px;height:40px}
.pager-unset-margin{margin: unset}

/*-----------------------------------------------------------------------------------*/
/*	2.	Layout of Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/

/* Top Menu */
#top_menu{background-color:#383838;color:#999;margin-bottom:30px;padding:3px 0}

/* Header with Logo */
.header-top{margin-bottom:20px}
.logo .site-title,.logo .site-title a{font-size:50px;line-height:50px;margin:0 0 0 0;color:#FFFFFF}
.logo .sub-title{font-family:'Open Sans',sans-serif;font-size:10px;line-height:11px;text-transform:capitalize;margin:0;padding-left:2px;letter-spacing:0;color:#F9F9F9}
.logo .logo-img{display:block;margin-top:6px;float:left}
@media (max-width:767px){.logo{text-align:center;margin-bottom:20px}}
.tagline{color:#7E7E7E;display:inline-block;font-size:12px;margin:13px 0 0 15px}

/* Nav menu with User Info */
.navbar{margin-bottom:0}
.navbar-custom{}
.navbar-collapse-custom{}

/* User Info Block */
#info_block{background-color:#e0e0e0;padding:5px 10px}
.color-invite{color:#1900d1}
.color-bonus{color:#1900d1}
.color-bet{color:#ff0000}
.color-blackjack{color:#1900d1}
.color-ratio{color:#1900d1}
.color-seeding{color:#008000}
.color-leeching{color:#8b0000}
.color-completed{}
.color-connectable{color:#1900d1}
.color-friends{color:#ffc078}
.color-rss{color:#5c7cfa}

/* Main Container */
.main-container{background-color:#eaeaea;padding:20px 10px}

/* Footer Menu */
#footer_menu{background-color:#383838;color:#C3C0B9;font-size:12px;margin-top:30px;padding-bottom:10px;padding-top:15px}
#footer_menu p{margin:0}
#footer_menu ul{list-style-type:none}
#footer_menu li{float:left;margin-left:10px}
#footer_menu a{color:#C3C0B9}
#footer_menu a:hover{color:#E84807}

.modal-content form{padding:0 10px}
.switch>label{font-weight:700}

/*-----------------------------------------------------------------------------------*/
/*	3. Page of '/auth'
/*-----------------------------------------------------------------------------------*/

.auth-password-help-btn{position:absolute;top:0;right:0;width:32px;height:32px;padding:0;text-align:center;filter:alpha(opacity=65);outline:0;opacity:.65;z-index:3}
.auth-recover-step[data-step="1"]{margin-bottom: 20px}

/*-----------------------------------------------------------------------------------*/
/*	3. Page of '/index'
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	3. Page of '/torrent'
/*-----------------------------------------------------------------------------------*/

/* Common */
.torrent-title-block{margin-bottom: 15px}
.torrent-title{}
.name-left{width:95%;}
#torrents_table td[data-item] {vertical-align: middle;}

#tags_list{margin-top:20px}

/* '/torrent/upload' */
#torrent_upload_table > tbody > tr > td:first-child{vertical-align:middle;text-align:right}
#torrent_file{display:inline;margin-right:10px;width:220px}

/* '/torrent/details' */
.torrent-details-block{}
.torrent-action-item{padding:3px}
#torrent_extend_info_panel_group hr{margin:10px 0}

/* '/torrent/structure' */
#torrent_structure ul{}
#torrent_structure ul,#torrent_structure li{list-style-type:none;color:#000}
#torrent_structure li div.string{padding:3px}
#torrent_structure li div.integer{padding:3px}
#torrent_structure li div.dictionary{padding:3px}
#torrent_structure li div.list{padding:3px}
#torrent_structure li div.string span.icon{color:#090;padding:2px}
#torrent_structure li div.integer span.icon{color:#990;padding:2px}
#torrent_structure li div.dictionary span.icon{color:#909;padding:2px}
#torrent_structure li div.list span.icon{color:#009;padding:2px}
#torrent_structure li span.title{font-weight:bold}

