@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
/* font-family: 'Ubuntu', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
/* font-family: 'Open Sans', sans-serif; */

/*-----------------------------------------------------------------------------------
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

body{background-color:#f6f6f6}

.red{color:red}
.yellow{color:yellow}
.green{color:green}
.blue{color:blue}
.gray{color:gray}
.black{color:black}
.white{color:white}

.bgred{background-color:red !important}
.bggreen{background-color:green !important}

.nowrap {white-space: nowrap;}

/*-----------------------------------------------------------------------------------*/
/*	2.	Auth page with prefix `auth-`
/*-----------------------------------------------------------------------------------*/

.auth-nav{opacity:0.9;align-items:center}
.auth-container{width:100%;margin:0 auto;height:calc(100vh);background-image:url("/static/pic/background_auth.jpg");background-repeat:no-repeat;background-size:cover;background-position:left;position:relative;z-index:1}
.auth-main-panel{border:1px solid #8F8381;border-radius:8px;margin:60px 0 0 100px;width:40%;background:rgba(241,243,244,0.6);min-width:600px;min-height:500px;padding:15px 25px}
.auth-panel{padding:15px}
.auth-form-notify{margin-top:5px;margin-left:110px}
.auth-footer{bottom:0;margin-bottom:0;border-width:1px 0 0;position:fixed;right:0;z-index:1030;padding:10px 40px 10px 20px;background:rgba(241,243,244,0.6)}
.auth-footer-text{opacity:1}
.auth-form{min-height:20px;padding:19px;margin-top:20px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}
.auth-login-return-msg{margin-top:5px}

/*-----------------------------------------------------------------------------------*/
/*	3.	Layout of Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/

/* Top Menu */
#top_menu{background-color:#383838;color:#999;margin-bottom:30px;padding:3px 0}

/* Header with Logo */
.header-top{margin-bottom:20px}
.logo .site-title,.logo .site-title a{font-size:50px;line-height:50px;margin:0 0 0 0;color:#FFFFFF}
.logo .sub-title{font-family:'Open Sans',sans-serif;font-size:10px;line-height:11px;text-transform:capitalize;margin:0;padding-left:2px;letter-spacing:0;color:#F9F9F9}
.logo .logo-img{display:block;margin-top:6px;float:left}
@media (max-width:767px){.logo{text-align:center;margin-bottom:20px}}
.tagline{color:#7E7E7E;display:inline-block;font-size:12px;margin:13px 0 0 15px}

/* Nav menu with User Info */
.navbar{margin-bottom:0}
.navbar-custom{}
.navbar-collapse-custom{}

/* User Info Block */
#info_block{background-color:#e0e0e0;padding:5px 10px}
.color-invite{color:#1900d1}
.color-bonus{color:#1900d1}
.color-bet{color:#ff0000}
.color-blackjack{color:#1900d1}
.color-ratio{color:#1900d1}
.color-seeding{color:#008000}
.color-leeching{color:#8b0000}
.color-completed{}
.color-connectable{color:#1900d1}
.color-friends{color:#ffc078}
.color-rss{color:#5c7cfa}

/* Main Container */
.main-container{background-color:#eaeaea;padding:10px}

/* Footer Menu */
#footer_menu{background-color:#383838;color:#C3C0B9;font-size:12px;margin-top:30px;padding-bottom:10px;padding-top:15px}
#footer_menu p{margin:0}
#footer_menu ul{list-style-type:none}
#footer_menu li{float:left;margin-left:10px}
#footer_menu a{color:#C3C0B9}
#footer_menu a:hover{color:#E84807}

/*-----------------------------------------------------------------------------------*/
/*	4. Page of '/index'
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	4. Page of '/torrent'
/*-----------------------------------------------------------------------------------*/

/* Common */
.torrent-title-block{margin-bottom: 15px}
.torrent-title{}

/* '/torrent/upload' */
#torrent_upload_table > tbody > tr > td:first-child{vertical-align:middle;text-align:right}
#torrent_file{display:inline;margin-right:10px;width:220px}

/* '/torrent/details' */
.torrent-details-block{}
.torrent-action-item{padding:3px}
#torrent_extend_info_panel_group hr{margin:10px 0}

/* '/torrent/structure' */
#torrent_structure ul{}
#torrent_structure ul,#torrent_structure li{list-style-type:none;color:#000}
#torrent_structure li div.string{padding:3px}
#torrent_structure li div.integer{padding:3px}
#torrent_structure li div.dictionary{padding:3px}
#torrent_structure li div.list{padding:3px}
#torrent_structure li div.string span.icon{color:#090;padding:2px}
#torrent_structure li div.integer span.icon{color:#990;padding:2px}
#torrent_structure li div.dictionary span.icon{color:#909;padding:2px}
#torrent_structure li div.list span.icon{color:#009;padding:2px}
#torrent_structure li span.title{font-weight:bold}
