{% extends "layout/base.html.twig" %}

{% block title %}Login{% endblock %}

{% block container %}
    <h1>Login</h1>
    <form method="post">

        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="control-label" for="username">Username or email address</label>
                    <input autofocus="" class="form-control" id="username" name="username" placeholder="Username" tabindex="1" title="" type="text" value="{{ username }}">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>

                    <small>
                        <a href="/auth/recover">Forgot your password?</a>
                    </small>

                    <input class="form-control" id="password" name="password" tabindex="2" title="" type="password" value="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="control-label" for="opt">2FA Code</label>
                    <input autofocus="" class="form-control" id="opt" name="opt" placeholder="Google Authenticator key" tabindex="3" title="" type="text" value="" maxlength="6">
                    <small>Your Google 2FA code,And Left blank If you don't set.</small>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label class="control-label" for="captcha">Captcha</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input autofocus="" class="form-control" id="captcha" name="captcha" tabindex="4" title="" type="text" value="" maxlength="6">
                        </div>
                        <div class="col-md-6"><img src="/captcha" alt="captcha"></div>
                    </div>
                    <small>Not case sensitive.</small>
                </div>
            </div>
        </div>

        {% if error_msg %}
            <div class="row">
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <p class="bg-danger">Login failed: <strong class="text-center">{{ error_msg }}</strong></p>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Login" class="btn btn-primary" tabindex="4">
            </div>
        </div>

    </form>
{% endblock %}
