{% extends "layout/base.html.twig" %}

{% block title %}Confirm Your Account{% endblock %}

{% block container %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>One more Step</h1>
        {% if confirm_way == "email" %}
            <p>Check your email :{{ email }} to confirm your account.</p>
        {% elseif confirm_way == "mod" %}
            <p>Please Wait Our Mod to confirm your account.</p>
        {% endif %}
    </div>
{% endblock %}