{% extends "layout/base.html.twig" %}

{% block title %}Admin Panel{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Site Status</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/admin/service?provider=mysql">Mysql Status</a></li>
                        <li><a href="/admin/service?provider=redis">Redis Service Status</a></li>
                        <li><a href="/admin/service?provider=redis&panel=keys">Redis Keys Status</a></li>
                    </ul>
                </div><!--/.panel-body -->
            </div>

        </div>
        <div class="col-md-9">
            {% block panel %}{% endblock %}
        </div>
    </div>



{% endblock %}
