{% extends "layout.html.twig" %}

{% block title %}Confirm Your Account{% endblock %}

{% block container %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>One more Step</h1>
        <p>Check your email :{{ email }} to confirm your account.</p>
    </div>
{% endblock %}