{% extends "layout/base.html.twig" %}

{% block title %}Upload Failed{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>Opps~</h1>
        <p>{{ msg | nl2br }}</p>
    </div>
{% endblock %}
